@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: white;
}
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

